extends _layout

block content
    section.front-header
        .front-header-overlay
        .front-header-buffer
        .front-header-iframe
            #front-youtube.front-header-youtube(data-youtubeurl='Kxms-OtUXS0')
        .front-header-title
            h1 Dead Channel JP
            blockquote.lead
                p=desc
                cite Neuromancer —— William Gibson
    section.front-about.front
        .container
            h2.front-title — About US
            .row
                .col-xs-12.col-md-4
                    figure.front-chiba
                        img.front-chiba-img( src='/img/chiba.svg' )
                        figcaption.front-chiba-caption
                            | Map by&nbsp;
                            a(href='https://commons.wikimedia.org/wiki/File:Map_of_Chiba_Prefecture_Ja.svg') Lincun&nbsp;
                            a(href='https://creativecommons.org/licenses/by-sa/3.0/deed.ja') CC BY-SA 3.0
                .col-xs-12.col-md-8
                    .front-about-us
                        p.lead=title + ' = ' + tagline
                        .front-about-content!=markdown.about
    section.front-members.front
        .container
            h2.front-title.member-title — Members
            p.member-list
                each member, index in markdown.members
                    a.member-list-link( href='#' )=member.name
            each member, index in markdown.members
                article.member
                    header.member-header
                        .member-photo
                            img.member-img(src="img/" + member.photo, alt=member.name)
                        h3.member-name
                            span=member.name
                            small=member.name_ja
                    .member-content!=member.html
                    footer.member-contact.text-center
                        a.btn.btn-outline-secondary(href='#contact') Contact
    section#contact.front-contact.front
        .container
            h2.front-title — Contact
            .row
                .col-xs-12.col-md-6
                    p Contact form here
                .col-xs-12.col-md-6
                    .form-hubspot
                        script( src='//js.hsforms.net/forms/shell.js' )
                        script.
                            hbspt.forms.create({
                                portalId: "5114573",
                                formId: "db585d96-a7a9-460c-bddd-0fe66791364d"
                            });
